<!DOCTYPE html>
<html lang="en">
  <head>
    <title>predict tool</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    
   
  </head>

  <body>
        <nav>
           <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/signup">Sign Up</a></li>
            <li role="presentation"><a href="/">Login</a></li>
          </ul>
        </nav>

      <div class="jumbotron">
        <h3>Wrong username/password</h3>
        
      </div>

      

      <footer class="footer">
  </body>
</html>

