
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Predict Easy</title>
   
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signIn.js"></script>
   
  </head>

  <body>
  <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            
            <li role="presentation" class="active"><a href="#">Login</a></li>
            <li role="presentation" ><a href="/signup">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">PredictEasy</h3>
      </div>

        
        <h1><center>Login</center></h1>
    
  <div class = "login">
<form class = "login-form" method="POST" action="{{url_for('login')}}">
<div class="inner-form-login">
    {{ form.hidden_tag() }}
    <p class="email"><strong><center> E-mail</strong>  {{ form.email(size=20, class_="form-control",style="width: 200px;") }}</center></p>
    {% if form.email.errors %}
	    <ul class=errors>
	    {% for error in form.email.errors %}
	      <li class = "error">{{ error }}</li>
	    {% endfor %}
	    </ul>
    {% endif %}
    <p> <center><strong>Password </strong>{{ form.password(size=20, type = "password", class_="form-control",style="width: 200px;") }}</center></p>
    {% if form.password.errors %}
	    <ul class=errors>
	    {% for error in form.password.errors %}
	      <li class = "error">{{ error }}</li>
	    {% endfor %}
	    </ul>
    {% endif %}<br>
    <center><button id="btnSignIn" class="btn btn-lg" type="submit">Login</button></center>
    
    </center>
</div>
</form>

</div>
</div>
</body>
</html>