{% extends 'layout.html' %}

{% block content %}
 <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="/new">Load</a></li>
              <li><a href="/show_all/">Show all</a></li>

              <li><a href="#">{{ data.filename }}</a></li>

            </ol>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
              <div class="panel-heading">Preprocess Dataset</div>
              <div class="panel-body">
          <form action="/prepare/{{ data.id }}" method="GET">

              <div class="col-md-2">
              <h4 class="hidden-xs">Algorithms</h4>
              <div class="btn-group btn-group-sm">
                 <select class="form-control" name="algo">
                    <option value="decision_tree">DecisionTreeClassifier</option>
                    <option value="knn">KNN</option>
                    <option value="rfc">RandomForestClassifier</option>
                </select>
              </div>
            </div>


             <div class="col-md-1">
              <h4 class="hidden-xs">Missing</h4>
              <div class="btn-group btn-group-sm">
                 <select class="form-control" name="missing">
                    <option>mean</option>
                    <option>median</option>
                    <option>most_frequent</option>
                </select>
              </div>
            </div>

              <div class="col-md-2">
              <h4 class="hidden-xs">Auto Feature</h4>
              <div class="btn-group btn-group-sm">
                 <select class="form-control" name="feature_selection">
                    <option value="remove_low_variance">Remove Low Variance</option>
                    <option value="select_from_model">SelectFromModel</option>
                </select>
              </div>
            </div>

          <div class="col-md-2">
            <h4 class="hidden-xs">Features</h4>
            <div class="btn-group btn-group-sm">
              <input type="hidden" name="filename" value="{{ data.filename }}">
              <select class="form-control" multiple="" name="features">
                  {% for col in columns %}
                  <option>{{ col }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>

           <div class="col-md-1">
              <h4 class="hidden-xs">Top</h4>
              <div class="btn-group btn-group-sm">
                 <select class="form-control" name="top_feature_count">
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
              </div>
            </div>
          
          <div class="col-md-2">
            <h4 class="hidden-xs">Target</h4>
            <div class="btn-group btn-group-sm">
               <select class="form-control" name="target">
                  {% for col in columns %}
                  <option>{{ col }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-1">
            <h4 class="hidden-xs">Action</h4>
            <button type="submit" class="btn btn-info btn-lg">
              <strong>Build Model</strong>
            </button>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>             
    </form>
   
  
{% endblock %}