{% extends 'layout.html' %}

{% block content %}
 <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="/new">Load</a></li>
              <li><a href="/show_all/">Show all</a></li>

              <li><a href="#">{{ data.filename }}</a></li>

            </ol>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
              <div class="panel-heading">Preprocess Dataset</div>
              <div class="panel-body">
          <form action="/prepare/{{ data.id }}" method="GET">
          <div class="col-md-3">
            <h4 class="hidden-xs">Feature Selection</h4>
            <div class="btn-group btn-group-sm">
              <input type="hidden" name="filename" value="{{ data.filename }}">
              <select class="form-control" multiple="" name="features">
                  {% for col in columns %}
                  <option>{{ col }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="hidden-xs">Target</h4>
            <div class="btn-group btn-group-sm">
               <select class="form-control" name="target">
                  {% for col in columns %}
                  <option>{{ col }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="hidden-xs">Action</h4>
            <button type="submit" class="btn btn-info btn-lg">
              <strong>Prepare</strong>
            </button>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </form>
    <!-- <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Nickname</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> -->
  
{% endblock %}