{% extends 'layout.html' %}

{% block content %}
 <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="/new">Load</a></li>
              <li><a href="#">Prepare</a></li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="hidden-xs">Missing Data</h4>
            <div class="btn-group btn-group-sm">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Impute Mean <span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#">Impute Median</a>
                </li>
                <li>
                  <a href="#">Impute STD</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="hidden-xs">Feature Selection</h4>
            <div class="btn-group btn-group-sm">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Univariant <span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#">Multivariant</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="hidden-xs">Target</h4>
            <div class="btn-group btn-group-sm">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Name <span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#">Age</a>
                </li>
                <li>
                  <a href="#">Nickname</a>
                </li>
                <li>
                  <a href="#">Salary</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <br>
            
            <button type="button" class="btn btn-default btn-sm">
              <strong>Prepare</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Nickname</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
{% endblock %}