{% extends 'layout.html' %}

{% block content %}
 <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
          	<div class="panel panel-success">
          		<div class="panel-heading">Classification Report</div>
          		<div class="panel-body">
          		<table class="table table-condensed">
          			<thead>
          				<th>Key</th>
          				<th>Value</th>

          			</thead>

          			<tbody>
          				<tr>
          					<td>Algorithm</td>
          					<td>{{ result.algorithm }}</td>

          				</tr>

                  <tr>
                    <td>Feature Selection</td>
                    <td>ExtraTreeClassifier, {{ result.feature_selection }}</td>

                  </tr>

          				<tr>
          					<td>Accuracy</td>
          					<td>{{ result.accuracy }}</td>

          				</tr>

          				<tr>
          					<td>Dataset</td>
          					<td>{{ result.dataset }}</td>

          				</tr>

          				<tr>
          					<td>Missing values</td>
          					<td>{{ result.imputer }}</td>

          				</tr>
          				<tr>
          					<td>Selected Features:</td>
          					<td>
          						{% for feature in result.features %}
          						<span class="label label-info">{{ feature }}</span>
          						{% endfor %}

          					</td>

          				</tr>
          				<tr>
          					<td>Target</td>
          					<td><span class="label label-success">{{ result.target }}</span></td>

          				</tr>
          				
          			</tbody>
          		</table>


              {{ result.output | safe }}
          		</div>
          	</div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">Predict Now</div>
              <div class="panel-body">
                <div class="col-md-12">
                <form action="/prepare/{{ result.id }}" method="POST">
                  {% for id, row in result.best_five_features.iterrows() %}
                  <div class="form-group">
                    <label>{{ row['Features']  }}</label>
                    <input type="number" name="{{ row['Features'] }}" class="form-control" value="{{ result.random.randint(0,9) }}" required>
                  </div>
                  {% endfor %}
                    <input type="hidden" name="model" value="{{  result.dataset.split('.')[0] }}">
                  <button type="submit" class="btn btn-success">Predict</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}